apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: gruppe12
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: testback
          image: victorkildahl/backend:1
          # env:
          # - name: DBHOST
          #   value: 10.101.183.170
          ports:
            - containerPort: 80
